.container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
  }
  
  .card {
    min-width: 250px;
    height: 150px;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardEnsinar {
    background-color: #DBEAFE; /* Azul para ensinar */
    color: #1F2C9F;
  }
  
  .cardAprender {
    background-color: #DCFCE7; /* Verde para aprender */
    color: #14532D;
  }

  .paragrafo{
    color: black;
  }
  
.paragrafoEnsinar{
  color: #1F2C9F;
}

  .cardVazio {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 16px;
    margin-top: 10px;
    border: 1px dashed #ccc;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
  }
  